<h1><%= @restaurant.name %> </h1>

<p> <%=@restaurant.address %>, price range: <%=@restaurant.price_range %> </p>

<p> Cell: <%=@restaurant.phone_number%>,
Hours: <%=@restaurant.opening_time.hour %> : <%=@restaurant.closing_time.hour%></p>

<h2><%= @restaurant.price_range %></h2>

<p><%= link_to 'Back to Restaurants', root_url %> | <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> | <%= link_to 'Delete Restaurant', restaurant_path(@restaurant), method: :delete, data: {confirm: 'Are you sure you want to delete this restaurant?'} %></p>

<h1>Reserve table </h1>

<%= form_for ([@restaurant,@reservation]) do |f| %>
 <div class = "field"><%= f.label :time %>:
 <%= f.datetime_select :time, discard_seconds: true, discard_minute: true %>

 <div class = "field">
   <%= f.label  :party_size %>
 <%= f.text_field  :party_size %> </div>
 <%= f.submit %>
 <% end %>
