<h1><%= @restaurant.name %> </h1>

<p> <%=@restaurant.address %>, price range: <%=@restaurant.price_range %> </p>

<p> Cell: <%=@restaurant.phone_number%>,
Hours: <%=@restaurant.opening_time.hour %> : <%=@restaurant.closing_time.hour%></p>

<h2><%= @restaurant.price_range %></h2>
